*.o
/Makefile
/.waf-*
/build
/target
/src/mcw5/SHMclean
/src/mcw5/compressfasta
/src/mcw5/compressfasta0
/src/mcw5/compressmol2
/src/mcw5/fastadist
/src/mcw5/fastalens
/src/mcw5/gather
/src/mcw5/mcw
/src/mcw5/recover
/src/mcw5/sortfasta
/src/mcw5/splitfasta
/src/mcw5/splitmol2
/src/mcw5/wrap
/src/mcw5/xmlparse
/src/mcw5/zextract
